<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{{ url_for('static' , filename = 'default.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static' , filename = 'fonts.css') }}" rel="stylesheet" type="text/css" media="all" />
<title>Manager</title>
<!--<link rel="stylesheet" href="{{ url_for('static' , filename = 'loginstyle.css') }}">-->
<style type="text/css">
    #header-wrapper
	{
		overflow: hidden;
		background: url({{ url_for('static' , filename = 'pic01.jpg') }}) no-repeat center;
		background-size: 100% auto;
	}


</style>
<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
    {% if session['username'] %}
    <span class="logout" ><a href="/logout">LOG OUT</a> </span>
    {% endif %}
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Blog</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/" accesskey="1" title="">Homepage</a></li>
				<li><a href="/login" accesskey="2" title="">Login/SingUp</a></li>
				<li><a href="/manage" accesskey="3" title="">Manage Your Blog</a></li>
				<li><a href="/blogs" accesskey="4" title="">Blogs</a></li>
				<li><a href="/about" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="page-wrapper">

<div >
    <div class="login-page">
        <center>
  <div id="formmm">
    {% if thispost %}
    <form id="posting" class="formos"  action="http://localhost:5000/edit" method="post">
        <span style="font-family: 'Bradley Hand ITC';font-size: larger;">Edit Your Post </span>
        <br><br><br>
      <p><input name="title" type="text" placeholder="title" value="{{ thispost[1] }}"/></p>
        <input type="hidden" name="edited" value="{{ thispost[0] }}">
      <p><textarea style="resize: none;" name="post_text" form="posting" cols="55" rows="10" > {{ thispost[2] }}</textarea></p>
      <p><button class="button">Edit</button></p>
    </form>
      {% else %}
        <form id="posting" class="formos"  action="http://localhost:5000/manage" method="post">
        <span style="font-family: 'Bradley Hand ITC';font-size: larger;">Write a new post </span>
        <br><br><br>
      <p><input name="title" type="text" placeholder="title" value="{{ title }}"/></p>
      <p><textarea style="resize: none;" name="post_text" form="posting" cols="55" rows="10" placeholder="type your post" value="{{ text }}"> </textarea></p>
      <p><button class="button">create</button></p>
    </form>
      {% endif %}
  </div>
            </center>
<cener>
        <div  align="center"  >
            <span style="font-size:x-large;font-family: 'Bradley Hand ITC';background-color: lightgoldenrodyellow;"> panel : </span>
            <br><br><br>
            {% for post in posts %}
                <center>
                <div style="float: left;margin-left: 20px;border-color: sandybrown;border-style: solid;" align="center">
                   <center> {{ post[1] }} </center><br>
                <center>
                <form action="http://localhost:5000/delete" method="post">
                    <input type="hidden" name="delete" value={{ post[0] }}>
                    <input type="image" src="{{ url_for('static' , filename = 'delete.png') }} " style="width:40px;height: 40px;" alt="delete">

                </form>

                    <form action="http://localhost:5000/edit" method="post">
                    <input type="hidden" name="edit" value={{ post[0] }}>
                    <input type="image" src="{{ url_for('static' , filename = 'edit.png') }} " style="width:40px;height: 40px;" alt="edit">

                </form>
                </center>
                </div>
                </center>
            {% endfor %}
        </div>
</cener>


</div>

	</div>
</div>
<!--
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="{{ url_for('static' , filename = 'loginform.js') }}"></script>

        -->
</body>
</html>
